.DS_Store
/.idea/.idea.DAWProject/.idea/.name
/.idea/.idea.DAWProject/.idea/codeStyles/codeStyleConfig.xml
/.idea/.idea.DAWProject/.idea/indexLayout.xml
/.idea/.idea.DAWProject/riderModule.iml
/.idea/.idea.DAWProject/.idea/vcs.xml
/.idea/.idea.DAWProject/.idea/contentModel.xml
/.idea/.idea.DAWProject/.idea/modules.xml
/.idea/.idea.DAWProject/.idea/projectSettingsUpdater.xml
/.idea/.idea.DAWProject/.idea/workspace.xml
