.DS_Store
/.idea/.idea.DAWProject/.idea/.name
/.idea/.idea.DAWProject/.idea/codeStyles/codeStyleConfig.xml
/.idea/.idea.DAWProject/.idea/indexLayout.xml
/.idea/.idea.DAWProject/riderModule.iml
/.idea/.idea.DAWProject/.idea/vcs.xml
/.idea/.idea.DAWProject/.idea/contentModel.xml
/.idea/.idea.DAWProject/.idea/modules.xml
/.idea/.idea.DAWProject/.idea/projectSettingsUpdater.xml
/.idea/.idea.DAWProject/.idea/workspace.xml
/.idea/.idea.DAWProject/.idea/dataSources/c732cb4c-38cf-4f3c-a92e-5b92439405dc.xml
/.idea/.idea.DAWProject/.idea/dataSources.local.xml
/.idea/.idea.DAWProject/.idea/dataSources.xml
/.idea/.idea.DAWProject/.idea/dataSources/c732cb4c-38cf-4f3c-a92e-5b92439405dc/storage_v2/_src_/database/hr_platform.CJi_ug/schema/dbo.sYMBAA.meta
/.idea/.idea.DAWProject/.idea/dataSources/c732cb4c-38cf-4f3c-a92e-5b92439405dc/storage_v2/_src_/database/master.YiqNvw/schema/dbo.sYMBAA.meta
/.idea/.idea.DAWProject/.idea/dataSources/c732cb4c-38cf-4f3c-a92e-5b92439405dc/storage_v2/_src_/database/master.YiqNvw/schema/dbo.sYMBAA.zip
/.idea/.idea.DAWProject/.idea/dataSources/c732cb4c-38cf-4f3c-a92e-5b92439405dc/storage_v2/_src_/database/hr_platform.CJi_ug.meta
/.idea/.idea.DAWProject/.idea/dataSources/c732cb4c-38cf-4f3c-a92e-5b92439405dc/storage_v2/_src_/database/hr_platform.CJi_ug/schema/INFORMATION_SCHEMA.NBgcMw.meta
/.idea/.idea.DAWProject/.idea/dataSources/c732cb4c-38cf-4f3c-a92e-5b92439405dc/storage_v2/_src_/database/master.YiqNvw/schema/INFORMATION_SCHEMA.NBgcMw.meta
/.idea/.idea.DAWProject/.idea/dataSources/c732cb4c-38cf-4f3c-a92e-5b92439405dc/storage_v2/_src_/database/master.YiqNvw.meta
/.idea/.idea.DAWProject/.idea/dataSources/c732cb4c-38cf-4f3c-a92e-5b92439405dc/storage_v2/_src_/database/hr_platform.CJi_ug/schema/sys.zb4BAA.meta
/.idea/.idea.DAWProject/.idea/dataSources/c732cb4c-38cf-4f3c-a92e-5b92439405dc/storage_v2/_src_/database/master.YiqNvw/schema/sys.zb4BAA.meta
