<li
  class="nav-item"
  [routerLinkActive]="['link-active']"
  [routerLinkActiveOptions]="{ exact: true }"
>
  <a class="nav-link text-dark" [routerLink]="['/create-team']">Create Team</a>
</li>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let team of teams">
    <td>{{team.name}}</td>
    <td>
      <app-edit-team [team]="selectedTeam" (onSelectEdit)="onSelectEdit(team)"
                           (onEdit)="onEdit()"></app-edit-team>
      <button (click)="onDeleteTeam(team)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
