<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createRoleModal">
  Create Role
</button>

<!-- Modal -->
<div class="modal fade" id="createRoleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create a new role</h5>
        <button #closeButton type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-signin">
          <label for="inputRoleDesignation" class="sr-only">Username</label>
          <input [(ngModel)]="role.designation" name="roleName" type="text" id="inputRoleDesignation"
                 class="form-control"
                 placeholder="Role Name" required autofocus>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onCreateSelected()">Create</button>
      </div>
    </div>
  </div>
</div>
