<app-create-role (onCreate)="onCreated()"></app-create-role>
<li
  class="nav-item"
  [routerLinkActive]="['link-active']"
  [routerLinkActiveOptions]="{ exact: true }"
>
  <a class="nav-link text-dark" [routerLink]="['/assign-role']">Assign Role To User</a>
</li>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Role Id</th>
    <th scope="col">Role Designation</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let role of roles">
    <td>{{role.id}}</td>
    <td>{{role.designation}}</td>
    <td>
      <app-edit-role (onEdit)="onEdited()" (onDelete)="onDeleted()" (onSelectEdit)="onSelectRole(role)"
                            [role]="selectedRole"></app-edit-role>
    </td>
  </tr>
  </tbody>
</table>
