<app-create-role (onCreate)="onCreated()"></app-create-role>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Service Name</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let role of roles">
    <th scope="row">{{role.id}}</th>
    <td>{{role.designation}}</td>
    <td>
      <app-edit-role (onEdit)="onEdited()" (onDelete)="onDeleted()" (onSelectEdit)="onSelectTicketType(role)"
                            [role]="selectedRole"></app-edit-role>
    </td>
  </tr>
  </tbody>
</table>
