<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="usersDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ selectedUser ? selectedUser.username : 'Users' }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" *ngFor="let user of users"
      (click)="selectUser(user)">
      {{user.username}}
    </a>
  </div>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="rolesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ selectedRole ? selectedRole.designation : 'Roles' }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" *ngFor="let role of roles"
       (click)="selectRole(role)">
      {{role.designation}}
    </a>
  </div>
</div>

<button (click)="assignUserToRole()">Assign User To Role</button>
