<form class="form-create-login">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

  <label for="inputFirstName" class="sr-only">First Name</label>
  <input *ngIf="user" [(ngModel)]="user.firstName" name="username" type="text" id="inputFirstName" class="form-control"
         placeholder="First Name" required autofocus>

  <label for="inputLastName" class="sr-only">Last Name</label>
  <input *ngIf="user" [(ngModel)]="user.lastName" name="username" type="text" id="inputLastName" class="form-control"
         placeholder="Last Name" required autofocus>

  <label for="inputUsername" class="sr-only">Username</label>
  <input *ngIf="user" [(ngModel)]="user.username" name="username" type="text" id="inputUsername" class="form-control"
         placeholder="Username" required autofocus>

  <label for="inputPassword" class="sr-only">Password</label>
  <input *ngIf="user" [(ngModel)]="user.password" name="password" type="password" id="inputPassword" class="form-control"
         placeholder="Password" required>

  <label for="contract-start-date-input" class="col-2 col-form-label">Contract Start Date</label>
  <input placeholder="dd-MM-yyyy" class=form-control type="date" name="inputContractStartDate" [(ngModel)]="user.contractStartDate" id="contract-start-date-input">

  <label for="contract-end-date-input" class="col-2 col-form-label">Contract End Date</label>
  <input placeholder="dd-MM-yyyy" class=form-control type="date" name="inputContractEndDate" [(ngModel)]="user.contractEndDate" id="contract-end-date-input">

  <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="onCreate()">Create User</button>
</form>
