<li
  class="nav-item"
  [routerLinkActive]="['link-active']"
  [routerLinkActiveOptions]="{ exact: true }"
>
  <a class="nav-link text-dark" [routerLink]="['/create-project']">Create Project</a>
</li>
<li
  class="nav-item"
  [routerLinkActive]="['link-active']"
  [routerLinkActiveOptions]="{ exact: true }"
>
  <a class="nav-link text-dark" [routerLink]="['/assign-project']">Assign User To Project</a>
</li>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let project of projects">
    <td>{{project.name}}</td>
    <td>
      <app-edit-project [project]="selectedProject" (onSelectEdit)="onSelectEdit(project)"
                           (onEdit)="onEdit()"></app-edit-project>
      <button (click)="onDeleteProject(project)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
