.form-create-project {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-create-project .checkbox {
  font-weight: 400;
}
.form-create-project .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-create-project .form-control:focus {
  z-index: 2;
}
