<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="usersDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ selectedUser ? selectedUser.username : 'Users' }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" *ngFor="let user of users"
      (click)="selectUser(user)">
      {{user.username}}
    </a>
  </div>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="departmentsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ selectedDepartment ? selectedDepartment.name : 'Departments' }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" *ngFor="let department of departments"
       (click)="selectDepartment(department)">
      {{department.name}}
    </a>
  </div>
</div>

<button (click)="assignUserToDepartment()">Assign User To Department</button>
